<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="server" value="http://138.251.194.156:8080/ChimeraMonitor/Update"/>
    <add key="id" value="Timespan"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
