<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="server" value="http://138.251.194.156:8080/ChimeraMonitor/Update"/>
    <add key="id" value="Timespan"/>
    <add key="opensim_directory" value="C:\Users\openvirtualworlds\Desktop\Opensim-Timespan\bin\" />
    <add key="chimera_directory" value="C:\Users\openvirtualworlds\vierwer\Chimera\Bin\" />
    <add key="chimera_exec" value="Test.exe" />
    <add key="clients" value="Master" />
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
